# Bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
env/
venv/

# Logs and databases
*.log
*.sqlite3

# Python packaging
*.egg-info/
dist/
build/

# Test/coverage
.coverage
.pytest_cache/
.cache/

# IDE settings
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints

# Others
.DS_Store
